{% extends 'home/base.html' %}
{% load static %}

{% block title %}Regístrate | AutoMundo {% endblock %}

{% block content %}
    <div class="container mt-5 mb-5 d-flex justify-content-center align-items-center" style="margin-left: 95px;"> 
      <div class="row align-items-stretch w-75">
        <div class="col-md-3 m-0 p-0 bg-white d-flex align-items-center justify-content-center shadow">
            <img src="{% static 'home/images/plugin.svg' %}" alt="" class="img-form">
        </div>
        <div class="col-md-9 m-0 p-0">
          <div class="container-form shadow p-5">
            <form action="" method="POST">
              <h2 class="mb-5 text-center title"><b>Conectate con nosotros</b></h2>
              {% csrf_token %}
              <div class="input-group">
                {{ form.first_name }}
                {{ form.last_name }}
              </div>
              <div class="input-group">
                {{ form.username }}
                {% if form.username.errors %}
                    <p class="text-danger">{{ form.username.errors }}</p>
                {% endif %}
              </div>
              <div class="input-group">
                {{ form.email }}
                {% if form.email.errors %}
                    <p class="text-danger">{{ form.email.errors }}</p>
                {% endif %}
              </div>
              <div class="input-group">
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <p class="text-danger">{{ form.password1.errors }}</p>
                {% endif %}
                
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <p class="text-danger">{{ form.password2.errors }}</p>
                {% endif %}
              </div>
              <div class="ms-4 d-flex justify-content-center align-items-center container-register-btn">
                <button type="submit" class="button-53 bg-success mt-3 mb-3 w-50">Registrarme</button>
                <a class="text-decoration-none ms-4 text-center text-dark title" href="">¿Ya tenés cuenta? Iniciá sesión</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
