{% extends "home/base.html" %}
{% block content %}
{% if user.is_staff %}
<div class="container mt-3">
    <h2>Actualizar Auto</h2>
    <form method="post">
        {% csrf_token %}  
        <div class="form-group">
            <label>Categoria</label>
            {{form.category}}
        </div>
        <div class="form-group">
            <label>Modelo</label>
            {{form.car_model}}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endif %}
{% endblock %}