{% extends "home/base.html" %}
{% block content %}
{% if user.is_staff %}
<div class="container mt-3">
    <h2>Crear Modelo</h2>
    <form method="post">
        {% csrf_token %}  
        <div class="form-group">
            <label>Nombre</label>
            {{form.name}}
        </div>
        <div class="form-group">
            <label>Marca</label>
            {{form.brand}}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endif %}
{% endblock %}