{% extends "home/base.html" %}
{% load static %}

{% block title %} AutoMundo {% endblock %}

{% block content %}
<div class="container mt-5 mb-5 d-flex justify-content-center align-items-center">
  <div class="row align-items-stretch w-75">
    <div class="col-md-3 m-0 p-0 bg-white d-flex align-items-center justify-content-center shadow">
      <img src="{% static 'home/images/plugin.svg' %}" alt="" class="img-form">
    </div>
    <div class="col-md-9 m-0 p-0">
      <div class="container-form shadow p-5">
        <form action="" method="POST" enctype="multipart/form-data">
          <h2 class="mb-5 text-center title"><b>Crear Oferta</b></h2>
          {% csrf_token %}
          <div class="input-group">
            {{ form.cars }}
          </div>
          <div class="input-group">
            {{ form.location }}
          </div>
          <div class="input-group">
            {{ form.price }}
          </div>
          <div class="input-group">
            {{ form.year }}
          </div>
          <div class="input-group">
            {{ formPayments.as_p }}
          </div>
          <hr>
          <div id="image-section">
            <div class="input-group">
              <label for="images">Upload images:</label>
              <input id="image-input" name="images" type="file" multiple class="form-control-file"
                onchange="updateDescriptions()">
            </div>
            <div id="description-section">
            </div>
          </div>
          <div class="ms-4 d-flex justify-content-center align-items-center container-register-btn">
            <button type="submit" class="button-53 bg-success mt-3 mb-3 w-50">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function updateDescriptions() {
    const fileInput = document.getElementById('image-input');
    const descriptionSection = document.getElementById('description-section');
    const files = fileInput.files;

    descriptionSection.innerHTML = '';

    for (let i = 0; i < files.length; i++) {
      const descriptionDiv = document.createElement('div');
      descriptionDiv.className = 'input-group mt-3';

      const label = document.createElement('label');
      label.innerText = `Description for Image ${i + 1}:`;
      descriptionDiv.appendChild(label);

      const input = document.createElement('input');
      input.name = 'descriptions';
      input.type = 'text';
      input.placeholder = 'Enter description';
      input.className = 'form-control';
      descriptionDiv.appendChild(input);

      descriptionSection.appendChild(descriptionDiv);
    }
  }
</script>

{% endblock %}