{% extends "home/base.html" %}
{% load static %}

{% block title %} AutoMundo {% endblock %}

{% block content %}
<div class="container mt-5 mb-5 d-flex justify-content-center align-items-center" style="margin-left: 0px;">
    <div class="row align-items-stretch w-75">
        <div class="col-md-3 m-0 p-0 bg-white d-flex align-items-center justify-content-center shadow">
            <img src="{% static 'home/images/plugin.svg' %}" alt="" class="img-form">
        </div>
        <div class="col-md-9 m-0 p-0">
            <p>{{ offer.seller.username }}</p>
            <p>{{ offer.cars }}</p>
            <p>{{ offer.location }}</p>
            <p>{{ offer.price }}</p>
            <p>{{ offer.year }}</p>
            {% for image in offer.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}" style="max-width: 100%; height: auto;">
            {% empty %}
            <p>No images available.</p>
            {% endfor %}
            <form method="POST" action="{% url 'DetailOffers' id=offer.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formComment.as_p }}
                <button>
                    comentar
                </button>
                
                <div class="container mt-5">
                    <h1>Comentarios</h1>
                    {% for comment in comments_offer %}
                    <div class="card mb-3">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="card-title text-primary">{{ comment.profile.username }}</h5>
                                <p class="card-text">{{ comment.comment }}</p>
                            </div>
                            {% if comment.profile.id == request.user.id %}
                            <button class="btn btn-danger">
                                Eliminar
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    {% empty %}
                    <div class="alert alert-info" role="alert">
                        No hay comentarios aún.
                    </div>
                    {% endfor %}
                </div>
    
            </form>
                
        </div>
    </div>
</div>
{% endblock %}